<style>
img {
    border-radius: 60%;
    height: 100px;
    width: 100px;
}
</style>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="/home"><img style="margin-left: 20px;" src="{{ url_for('static',filename='images/logo.png') }}" alt="" style="width: 50%"> <br>MCOE Canteen</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
            <a class="nav-link" href="/home"><h4>Canteen Ordering Portal</h4></a>
        </li>
    </ul>
    <div style="text-align-last: right;">
        <li textclass="nav-item">
            <a class="nav-link" href="/order">Order</a>
        </li>
    </div>
    <div style="text-align-last: right;">
        <li textclass="nav-item">
            <a class="nav-link" href="/login"> For Admin</a>
        </li>
    </div>
</nav>
 <br/><br/>      